.related{
  margin-left: -20px;
}
.assignment-one{
    background-color: rgba(95, 158, 160, 0.384);
}

.box{
  margin-top: 50px;;
    border: 1px solid black;
}

a{
  text-decoration: none;
  color: blue;
}

a:hover{
  text-decoration: underline;
  color: rgba(235, 174, 20, 0.849);
}

/* domin header data */

.get-domin{
  border: 2px solid black;
  background-color: black;
  width: 250px;
  height: 70px;
  color: white;
  padding-top:17px;
}


/* visite web site button */
button{
  font-size: 30px;
  border: 20px solid rgb(19, 23, 216);
  color: white;
 
}


img{
  width: 200px;
  height: 100px;
  margin-left: 100px;
  margin-top:20px;
}

@media only screen and (max-width: 600px) and (max-width:768px){
  
/* images header */
img{
  width: 200px;
  height: 100px;
  border-radius: 5%;
  border:3px solid blue;

  margin-left: 50px;
  margin-top:20px;
}


  button{
    margin-top: 30px;
    font-size: 30px;
    border: 20px solid rgb(19, 23, 216);
    color: white;
   
  }

  a{
    text-decoration: none;
    color: blue;
  }

a:hover{
  text-decoration: underline;
  color: rgba(235, 174, 20, 0.849);
}


#small-name{
  font-size: 15px;
  margin-left: -20px;
}

.related{
  margin-left: -5px;
}

/* box data type mobile box */
.box{
  margin-top: 50px;;
  border: 1px solid black;
  height: 100em;
  padding: 130px 0px 100px 0px;
  width: 350px;
}
}