{% load static %}
<div class="container-fluid h-100 assignment-one">
    
    <img src="{% static 'ASS/images/godaddy.jpg' %}" alt="" style="width: 200px;height: 100px;margin-left: 100px;margin-top:20px">
    <h1 class="text-center">assignmentcoach.com</h1>
    <h4 class="text-center">is parked free, courtesy of GoDaddy.com.</h4>
    <center><h4 class="get-domin" ><a href="https://in.godaddy.com/domainsearch/find?isc=GPPTCOM&utm_source=godaddy&utm_medium=parkedpages&utm_campaign=x_dom-broker_parkedpages_x_x_invest_b_001&tmskey=dpp_dbs&domainToCheck=assignmentcoach.com" target="_blank" class="text-white"> Get This Domin</a></h4></center>
</div>