{% extends 'ASS/base.html' %}
{% load static %}
{% block content %}





<div class="box">
    <div class="container mt-5">

        <small class="related">Related searches</small>


        <div class="row text-center">




            <!--  Travel tours -->

            <a href="{% url 'tures-travel' %}" target="_self">
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 bg-primary text-hover"
                    style="border:5px outset  rgba(11, 15, 219, 0.986);border-radius: 5px 5px 5px 5px;">
                    <div class="col ">
                        <div class=" h-100">

                            <div class="card-body">
                                <h5 class="card-title" style="margin-left: -350px;"> <i class="fas fa-search "> </i>
                                </h5>

                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class=" h-100">

                            <div class="card-body">
                                <h3><a href="{% url 'tures-travel' %}" target="_self" class="text-white">Travel
                                        Tours</a></h3>

                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="h-100">

                            <div class="card-body">
                                <h5 class="card-title" style="margin-left: 330px;"><i
                                        class="fas fa-greater-than text-white"></i></h5>

                            </div>

                        </div>
                    </div>
                </div>
            </a>

            <!--  Assignment Paper -->
            <a href="{% url 'Assignment-paper' %}" target="_self">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 bg-primary"
                style="border:5px outset  rgb(20, 23, 221);border-radius: 5px 5px 5px 5px;">
                <div class="col ">
                    <div class=" h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: -350px;"> <i class="fas fa-search "> </i> </h5>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class=" h-100">

                        <div class="card-body">
                            <h3><a href="{% url 'Assignment-paper' %}" target="_self" class="text-white">Assignment
                                    Paper</a></h3>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: 330px;"><i
                                    class="fas fa-greater-than text-white"></i></h5>

                        </div>

                    </div>
                </div>
            </div>

        </a>
            <!-- Paper Bags -->

            <a href="{% url 'Paper-Bag' %}" target="_self">

            <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 bg-primary"
                style="border:5px outset  rgb(20, 23, 221);border-radius: 5px 5px 5px 5px;">
                <div class="col ">
                    <div class=" h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: -350px;"> <i class="fas fa-search "> </i> </h5>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class=" h-100">

                        <div class="card-body">
                            <h3><a href="{% url 'Paper-Bag' %}" target="_self" class="text-white">Paper Bags</a></h3>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: 330px;"><i
                                    class="fas fa-greater-than text-white"></i></h5>

                        </div>

                    </div>
                </div>
            </div>

        </a>
            <!-- Designer Handbag -->
            <a href="{% url 'Designer-Handbags' %}" target="_self" >
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 bg-primary"
                style="border:5px outset  rgb(20, 23, 221);border-radius: 5px 5px 5px 5px;">
                <div class="col ">
                    <div class=" h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: -350px;"> <i class="fas fa-search "> </i> </h5>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class=" h-100">

                        <div class="card-body">
                            <h3><a href="{% url 'Designer-Handbags' %}" target="_self" class="text-white">Designer
                                    Handbags</a></h3>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: 330px;"><i
                                    class="fas fa-greater-than text-white"></i></h5>

                        </div>

                    </div>
                </div>
            </div>

        </a>
            <!-- Writting Essay -->


            <a href="{% url 'Writting-essay' %}" target="_self">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 bg-primary"
                style="border:5px outset  rgb(20, 23, 221);border-radius: 5px 5px 5px 5px;">
                <div class="col ">
                    <div class=" h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: -350px;"> <i class="fas fa-search "> </i> </h5>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class=" h-100">

                        <div class="card-body">
                            <h3><a href="{% url 'Writting-essay' %}" target="_self" class="text-white">Writting an
                                    Essay</a></h3>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: 330px;"><i
                                    class="fas fa-greater-than text-white"></i></h5>

                        </div>

                    </div>
                </div>
            </div>

        </a>

            <!-- Travel Bags -->
            <a href="{% url 'Things-Remembered-Personalized' %}" target="_self">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 bg-primary"
                style="border:5px outset  rgb(65, 68, 231);border-radius: 5px 5px 5px 5px;">
                <div class="col ">
                    <div class=" h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: -350px;"> <i class="fas fa-search "> </i> </h5>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class=" h-100">

                        <div class="card-body">
                            <h3 id="small-name"><a href="{% url 'Things-Remembered-Personalized' %}" target="_self"
                                    class="text-white">Things&nbsp;Remembered&nbsp;Personalized&nbsp;Gifts</a></h3>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="h-100">

                        <div class="card-body">
                            <h5 class="card-title" style="margin-left: 330px;"><i
                                    class="fas fa-greater-than text-white"></i></h5>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </a>

        <br>
        <br>

        {% endblock content %}